# Maven target directory
/target/

# Node workspace
/node_modules/
/docs/node_modules/

# IDE specific files
.idea/

# VsCode specific files
.vscode/

# Custom docker-compose files
docker-compose.*.yml
